PORT=8001
MONGODB_URI=mongodb+srv://yours:yours@cluster0.eo4dbw9.mongodb.net
CORS_ORIGIN=http://localhost:5500
ACCESS_TOKEN_SECRET=your_access_secret
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=your_refresh_secret
REFRESH_TOKEN_EXPIRY=10d


CLOUDINARY_CLOUD_NAME = whatever
CLOUDINARY_API_KEY = whatever
CLOUDINARY_API_SECRET = whatever
